<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:f="http://java.sun.com/jsf/core">

	<p:toolbar style="padding-left: 2%; padding-right: 2%" id="toolbar">

		<p:toolbarGroup align="left" style="padding-top: 0.5%">
			<a href="/index.jsp"><img src="/static/logo.png" alt="Logo"
				title="Accueil" class="headerIcon" /></a>
		</p:toolbarGroup>

		<p:toolbarGroup styleClass="headerTitle">
			<h1>
				<p:outputLabel value="#{labels['header.teamName']}" />
			</h1>
		</p:toolbarGroup>

		<img src="/static/ic_menu.png" alt="Menu" title="Menu"
			class="menuMobile" />

		<p:toolbarGroup align="right" styleClass="toolbarGroupHeader">
			<h:form styleClass="headerForm" rendered="#{!loginBean.isLogged}">
				<p:messages id="messages" showDetail="true" autoUpdate="true"
					closable="true" style="font-size:0.8em" />

				<p:inputText id="identifier"
					style=" max-width: 30%; margin-right: 10px; font-size: 80%;"
					placeholder="#{labels['header.id']}" value="#{loginBean.name}" />
				<p:inputText id="password"
					style=" max-width: 30%; margin-right: 10px; font-size: 80%;"
					placeholder="#{labels['header.password']}" type="password"
					value="#{loginBean.password}" />
				<p:commandButton type="submit"
					value="#{labels['header.btn.connect']}" process="@this"
					style="width: auto;height: 25px;font-size: 80%;" ajax="false"
					actionListener="#{loginBean.login}" />
			</h:form>

			<h:form styleClass="headerForm" style="text-align: right;"
				rendered="#{loginBean.isLogged}">
				<p:outputLabel
					style="font-size:85%;font-weight:normal; margin-right:5px;"
					value="#{labels['header.connectAs']}" />
				<p:outputLabel value="#{loginBean.name}" style="font-weight:bold" />
				<br />
				<p:commandButton type="submit"
					value="#{labels['header.btn.disconnect']}"
					style="width: auto; height: 30px;font-size:80%; margin-top: 5px"
					action="#{loginBean.logout}" ajax="false" process="@this" />
			</h:form>

			<h:form style="text-align: right;" styleClass="menuMobile">
				<p:commandButton id="dynaButton" value="#{labels['menu']}" />
				<p:menu overlay="true" trigger="dynaButton" my="left top"
					at="left bottom">

					<p:menuitem value="#{labels['header.btn.connect']}"
						rendered="#{!loginBean.isLogged}"
						onclick="PF('dlgLoginResponsive').show()" icon="ui-icon-star" />

					<p:menuitem value="#{labels['header.btn.disconnect']}"
						rendered="#{loginBean.isLogged}"
						onclick="PF('dlgDisconnectResponsive').show()" icon="ui-icon-star" />

					<p:menuitem value="#{labels['menu.newsLight']}" outcome="/index"
						icon="ui-icon-home" />

					<p:menuitem value="#{labels['menu.live']}" outcome="/liveMatchs"
						icon="ui-icon-signal-diag" />

					<p:menuitem value="#{labels['menu.partners']}" outcome="/partners"
						icon="ui-icon-suitcase" />

					<p:submenu label="#{labels['menu.title.team']}"
						style="margin-top:12px; margin-bottom:5px;">
						<p:menuitem value="#{labels['menu.results']}" outcome="/results"
							icon="ui-icon-bookmark" />
						<p:menuitem value="#{labels['menu.agenda']}" outcome="/agenda"
							icon="ui-icon-note" />
						<p:menuitem value="#{labels['menu.rank']}" outcome="/rankingList"
							icon="ui-icon-calculator" />
						<p:menuitem value="#{labels['menu.calendars']}"
							outcome="/calendarList" icon="ui-icon-calendar" />
					</p:submenu>

					<p:submenu label="#{labels['menu.title.players']}"
						style="margin-top:12px; margin-bottom:5px;">

						<p:menuitem value="#{labels['menu.players']}" outcome="statsList"
							icon="ui-icon-person" />
					</p:submenu>

					<p:submenu label="#{labels['menu.title.medias']}" rendered="false"
						style="margin-top:12px; margin-bottom:5px;">

						<p:menuitem value="#{labels['menu.gallery']}" outcome="galleria"
							icon="ui-icon-image" />
					</p:submenu>

					<p:submenu label="#{labels['menu.title.contact']}"
						style="margin-top:12px; margin-bottom:5px;">

						<p:menuitem value="#{labels['menu.contact']}" outcome="contact"
							icon="ui-icon-mail-closed" />
					</p:submenu>

					<p:submenu label="#{labels['menu.title.admin']}"
						style="margin-top:12px; margin-bottom:5px;"
						rendered="#{loginBean.isLogged}">

						<p:menuitem value="#{labels['menu.teamManagement']}"
							outcome="teamManagement" icon="ui-icon-person" />

						<p:menuitem value="#{labels['menu.notifs']}"
							outcome="pushNotifications" icon="ui-icon-person" />
					</p:submenu>
				</p:menu>
			</h:form>
		</p:toolbarGroup>

	</p:toolbar>
	<div class="ui-fluid">
		<p:dialog header="#{labels['header.btn.connect']}" widgetVar="dlgLoginResponsive" global="true"
			modal="true" appendTo="@(body)" resizable="false" responsive="true">
			<h:form id="respForm">

				<p:messages id="messagesResp" showDetail="true" autoUpdate="true"
					closable="true" style="font-size:0.8em" />

				<p:panelGrid columns="2" layout="grid"
					styleClass="ui-panelgrid-blank"
					columnClasses="ui-grid-col-4,ui-grid-col-8">

					<p:inputText id="username" placeholder="#{labels['header.id']}"
						value="#{loginBean.name}" />

					<p:password value="#{loginBean.password}"
						placeholder="#{labels['header.password']}" />

					<f:facet name="footer">
						<p:commandButton value="#{labels['header.btn.connect']}" update ="@all"
							process="@form" actionListener="#{loginBean.login}"
							oncomplete="handleLoginRequest(xhr, status, args)" />
					</f:facet>
				</p:panelGrid>
			</h:form>
		</p:dialog>

		<p:confirmDialog message="#{labels['generic.msg.disconnect']}"
			global="true" modal="true" appendTo="@(body)"
			header="#{labels['header.btn.disconnect']}"
			widgetVar="dlgDisconnectResponsive">
			<h:form>
				<p:commandButton value="#{labels['generic.confim']}"
					process="@form" oncomplete="PF('dlgDisconnectResponsive').hide()"
					action="#{loginBean.logout}" />

				<p:commandButton value="#{labels['generic.btn.cancel']}"
					onclick="PF('dlgDisconnectResponsive').hide()" type="button" />
			</h:form>
		</p:confirmDialog>
	</div>

	<script type="text/javascript">
		function handleLoginRequest(xhr, status, args) {
			if (!args.loginValid) {
				PF('dlgLoginResponsive').jq.effect("shake", {
					times : 5
				}, 100);
			} else {
				PF('dlgLoginResponsive').hide();
			}
		}
	</script>

</ui:composition>