<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
                      "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:f="http://java.sun.com/jsf/core">
	<h:form>
		<p:menu id="menuLeft" styleClass="miClubMenu">
			<p:menuitem value="#{labels['menu.news']}" outcome="/index"
				icon="ui-icon-home" />

			<p:menuitem value="#{labels['menu.live']}" outcome="/liveMatchs"
				icon="ui-icon-signal-diag" />

			<p:menuitem value="#{labels['menu.partners']}" outcome="/partners"
				icon="ui-icon-suitcase" />

			<p:submenu label="#{labels['menu.title.team']}"
				style="margin-top:12px; margin-bottom:5px;">
				<p:menuitem value="#{labels['menu.results']}" outcome="/results"
					icon="ui-icon-bookmark" />
				<p:menuitem value="#{labels['menu.agenda']}" outcome="/agenda"
					icon="ui-icon-note" />
				<p:menuitem value="#{labels['menu.rank']}" outcome="/rankingList"
					icon="ui-icon-calculator" />
				<p:menuitem value="#{labels['menu.calendars']}"
					outcome="/calendarList" icon="ui-icon-calendar" />
			</p:submenu>

			<p:submenu label="#{labels['menu.title.players']}"
				style="margin-top:12px; margin-bottom:5px;">

				<p:menuitem value="#{labels['menu.players']}" outcome="statsList"
					icon="ui-icon-person" />
			</p:submenu>

			<p:submenu label="#{labels['menu.title.medias']}" rendered="false"
				style="margin-top:12px; margin-bottom:5px;">

				<p:menuitem value="#{labels['menu.gallery']}" outcome="galleria"
					icon="ui-icon-image" />
			</p:submenu>

			<p:submenu label="#{labels['menu.title.contact']}"
				style="margin-top:12px; margin-bottom:5px;">

				<p:menuitem value="#{labels['menu.contact']}" outcome="contact"
					icon="ui-icon-mail-closed" />
			</p:submenu>


			<p:submenu label="#{labels['menu.title.admin']}"
				style="margin-top:12px; margin-bottom:5px;"
				rendered="#{loginBean.isLogged}">

				<p:menuitem value="#{labels['menu.teamManagement']}"
					outcome="teamManagement" icon="ui-icon-person" />

				<p:menuitem value="#{labels['menu.notifs']}"
					outcome="pushNotifications" icon="ui-icon-person" />

			</p:submenu>

		</p:menu>
		<div class="fb-page" style="margin-top: 10px;"
			data-href="https://www.facebook.com/miclubsport/"
			data-tabs="timeline" data-width="215" data-height="70"
			data-small-header="true" data-adapt-container-width="false"
			data-hide-cover="false" data-show-facepile="false">
			<blockquote cite="https://www.facebook.com/miclubsport/"
				class="fb-xfbml-parse-ignore">
				<a href="https://www.facebook.com/miclubsport/">MiClub</a>
			</blockquote>
		</div>
	</h:form>

	<div id="fb-root"></div>
	<script>
		(function(d, s, id) {
			var js, fjs = d.getElementsByTagName(s)[0];
			if (d.getElementById(id))
				return;
			js = d.createElement(s);
			js.id = id;
			js.src = "//connect.facebook.net/fr_FR/sdk.js#xfbml=1&amp;version=v2.6";
			fjs.parentNode.insertBefore(js, fjs);
		}(document, 'script', 'facebook-jssdk'));
	</script>
</ui:composition>