<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">

<h:body>
	<p:layout fullPage="true" resizeTitle="resize"
		style="background-color:#f3f4f5;">
		<p:layoutUnit position="north" size="110" id="north" resizable="false">
			<ui:include src="header.xhtml" />
		</p:layoutUnit>

		<p:layoutUnit position="west" id="west" resizable="false">
			<ui:include src="menu.xhtml" />
		</p:layoutUnit>

		<p:layoutUnit styleClass="layoutUnitCenter" position="center">
			<h:form id="mainForm">
				<ui:insert name="content" />
			</h:form>
		</p:layoutUnit>

	</p:layout>
</h:body>

</html>