<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">

<h:head>
	<f:facet name="first">
		<meta name="viewport" content="initial-scale=1.0, user-scalable=yes" />
	</f:facet>
	<title>#{labels['calendarList.page.title']}</title>
	<link type="text/css" rel="stylesheet" href="/static/style.css" />
</h:head>

<h:body>
	<p:layout fullPage="true">
		<p:layoutUnit position="north" size="110" id="north" resizable="false">
			<ui:include src="templates/header.xhtml" />
		</p:layoutUnit>

		<p:layoutUnit position="west" id="west" resizable="false" size="250">
			<ui:include src="templates/menu.xhtml" />
		</p:layoutUnit>

		<p:layoutUnit styleClass="layoutUnitCenter" position="center"
			style="padding: 0.4% 2%;">
			<h2>#{labels['calendarList.title']}</h2>
			<h:form>
				<ui:repeat var="cat" value="#{teamListBean.categoryList}">
					<h3 style="padding-left: 20px">#{cat.name}</h3>

					<ui:repeat var="team" value="#{teamListBean.getTeamsByCat(cat)}">
						<p:link outcome="calendar" style="padding-left: 30px"
							value="#{labels['ranking.team']} #{team.teamName}">
							<f:param name="category" value="#{cat.name()}" />
							<f:param name="team" value="#{team.teamName}" />
						</p:link>
						<br />
						<br />
					</ui:repeat>

				</ui:repeat>
			</h:form>
			<p:panel style="border:none; margin-left:15px;"
				rendered="#{empty teamListBean.categoryList}">
				<p>#{labels['teamManagement.pleaseAddTeams']}</p>
			</p:panel>
		</p:layoutUnit>
	</p:layout>

</h:body>


</html>
