<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">

<h:head>
	<f:facet name="first">
		<meta name="viewport" content="initial-scale=1.0, user-scalable=yes" />
	</f:facet>
	<title>#{labels['calendar.page.title']}</title>
	<link type="text/css" rel="stylesheet" href="/static/style.css" />
</h:head>

<h:body>

	<p:layout fullPage="true">
		<p:layoutUnit position="north" size="110" id="north" resizable="false">
			<ui:include src="templates/header.xhtml" />
		</p:layoutUnit>

		<p:layoutUnit position="west" id="west" resizable="false" size="250">
			<ui:include src="templates/menu.xhtml" />
		</p:layoutUnit>

		<p:layoutUnit styleClass="layoutUnitCenter" position="center"
			style="padding: 0.4% 2%;">

			<h:form>

				<h:selectOneMenu id="selectSeason"
					value="#{calendarBean.selectedSeason}"
					style="float:right; margin-top:10px !important">
					<f:selectItems value="#{calendarBean.seasons}" var="season"
						itemLabel="#{season}" itemValue="#{season}" />

					<p:ajax onsuccess=" PF('statusDialog').hide()" update="calendar"
						onstart="PF('statusDialog').show();"
						listener="#{calendarBean.loadCalendar}" />
				</h:selectOneMenu>

				<h:outputLabel
					style="float:right;margin-right:5px; margin-top:10px !important">#{labels['generic.season']}</h:outputLabel>

				<h:outputText id="calendar" escape="false"
					value="#{calendarBean.htmlCalendar}" />

			</h:form>

			<p:dialog widgetVar="statusDialog" modal="true" draggable="false"
				closable="false" resizable="false" showHeader="false">
				<img src="/static/loading.gif" alt="Logo" class="loadingDialog" />
				<p:outputLabel value="#{labels['stats.message.processing']}"></p:outputLabel>
			</p:dialog>

		</p:layoutUnit>
	</p:layout>

</h:body>


</html>
