<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">

<h:head>
	<f:facet name="first">
		<meta name="viewport" content="initial-scale=1.0, user-scalable=yes" />
	</f:facet>
	<title>#{labels['contact.page.title']}</title>
	<link type="text/css" rel="stylesheet" href="/static/style.css" />

</h:head>

<h:body>
	<p:layout fullPage="true">
		<p:layoutUnit position="north" size="110" id="north" resizable="false">
			<ui:include src="templates/header.xhtml" />
		</p:layoutUnit>

		<p:layoutUnit position="west" id="west" resizable="false" size="250">
			<ui:include src="templates/menu.xhtml" />
		</p:layoutUnit>

		<p:layoutUnit styleClass="layoutUnitCenter" position="center"
			style="padding: 0.4% 2%;">
			<h2>Contact</h2>
			<h:form>
				<p:messages autoUpdate="true" />
				<p:outputLabel for="name" value="#{labels['contact.name']}"
					style=" display:none" />
				<p:inputText type="text" placeholder="#{labels['contact.yourName']}"
					maxlength="50" id="name" value="#{contactBean.contactName}"
					required="true" />
				<br />
				<br />

				<p:outputLabel for="email" value="#{labels['contact.email']}"
					style=" display:none" />
				<p:inputText type="text" id="email"
					placeholder="#{labels['contact.email']}" maxlength="50"
					value="#{contactBean.contactMail}" required="true">
					<f:validateRegex
						pattern="^[_A-Za-z0-9-\+]+(\.[_A-Za-z0-9-]+)*@[A-Za-z0-9-]+(\.[A-Za-z0-9]+)*(\.[A-Za-z]{2,})$" />
				</p:inputText>
				<br />
				<br />
				<p:outputLabel for="message" value="#{labels['contact.message']}"
					style=" display:none" />
				<p:inputTextarea rows="10" cols="50" required="true" id="message"
					placeholder="#{labels['contact.yourMsg']}"
					value="#{contactBean.message}" />
				<br />
				<br />

				<p:captcha label="#{labels['contact.captcha']}" language="fr" />

				<br />
				<br />
				<p:commandButton value="#{labels['generic.btn.send']}"
					action="#{contactBean.submit}" ajax="false" icon="ui-icon-check" />

			</h:form>
		</p:layoutUnit>
	</p:layout>

</h:body>

</html>

