<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">

<h:head>
	<f:facet name="first">
		<meta name="viewport" content="initial-scale=1.0, user-scalable=yes" />
	</f:facet>
	<title>AS Coteaux - Formation visu</title>
	<link type="text/css" rel="stylesheet" href="/static/style.css" />
</h:head>

<h:body>

	<p:panel styleClass="hiddenBorder">
		<!-- On créé la dataGrid pour afficher la grille-->
		<p:dataGrid widgetVar="trgField" id="trgField"
			rendered="#{not formationBeanVisu.displayEmptyImage}"
			value="#{formationBeanVisu.lstTarget}" var="t"
			styleClass="soccer_field" columns="5"
			style="margin-top:15px;padding-left:4px; width:60%; min-width: 460px; max-width: 460px;">
			<p:column>
				<p:panel id="trg" styleClass="panelFormation"
					style="width:100%;height:65px;">
					<p:panel id="item" rendered="#{!empty t.formationItem.numItem}"
						styleClass="formationItem"
						style="height:45px;width:100%; background: transparent; cursor:pointer;display: inline-block; ">
						<h:outputText value="#{t.formationItem.numItem}"
							styleClass="numItem" style="font-size: 16px;" />

						<h:outputText value="#{t.formationItem.player.name}"
							styleClass="playerName"
							style="font-size: 13px; text-shadow: 2px 2px 3px black;" />
					</p:panel>
				</p:panel>
			</p:column>

		</p:dataGrid>
		<h:outputLabel value="#{labels['formation.remplacants']}"
			rendered="#{not formationBeanVisu.displayEmptyImage}"
			style="margin-left: 2%;font-size: 13px; font-weight: bold;" />
		<h:outputLabel
			value="#{formationBeanVisu.currentFormation.remplacants}"
			style="margin-left: 2%;font-size: 13px;" />

		<p:graphicImage value="/static/terrain.jpg"
			rendered="#{formationBeanVisu.displayEmptyImage}" />
	</p:panel>

</h:body>
</html>