<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">

<h:head>
	<f:facet name="first">
		<meta name="viewport" content="initial-scale=1.0, user-scalable=yes" />
	</f:facet>
	<title>#{labels['formation.page.title']}</title>
	<link type="text/css" rel="stylesheet" href="/static/style.css" />
	<script type="text/javascript">
		function handleDrop(event, ui) {
			var droppedItem = ui.draggable;
			droppedItem.fadeOut('fast');
		}
	</script>
</h:head>

<h:body>
	<p:layout fullPage="true" style="background-color:#FFFFFF;">
		<p:layoutUnit position="north" size="110" id="north" resizable="false">
			<ui:include src="templates/header.xhtml" />
		</p:layoutUnit>

		<p:layoutUnit position="west" id="west" resizable="false" size="250">
			<ui:include src="templates/menu.xhtml" />
		</p:layoutUnit>

		<p:layoutUnit styleClass="layoutUnitCenter" position="center"
			style="padding-left:1%;">

			<h2 style="margin-left: 25px;">#{labels['formation.title']}</h2>

			<p:panel styleClass="panel-formation">
				<h:outputLabel
					value="#{formationBean.currentMatch.categoryNameStr} #{formationBean.currentMatch.teamName}, #{formationBean.currentMatch.formatedDate}"
					style="font-size:16px; text-align:center; margin-left: 35px;" />
				<br />
				<h:outputLabel
					value=" #{formationBean.currentMatch.team1} - #{formationBean.currentMatch.team2}"
					style="font-size:17px;font-weight: bold;margin-left: 35px;" />
			</p:panel>

			<h:form appendToBody="true" id="formation_form"
				onkeypress="return event.keyCode != 13;">
				<h:panelGrid columns="2">
					<h:panelGrid columns="1" style="padding-right:30px;">
						<!-- 						<h:outputLabel value="Nom de la formation" for="formationName" /> -->
						<!-- 						<p:inputText id="formationName" -->
						<!-- 							value="#{formationBean.currentFormation.formationName}" -->
						<!-- 							title="Formation"> -->
						<!-- 						</p:inputText> -->
						<!-- 						<p:message id="msg_libFormation" for="formationName" /> -->

						<h:dataTable var="item" id="pList"
							value="#{formationBean.currentFormation.formationItemList}"
							varStatus="countId" style="margin-right:5vw;">
							<h:column>
								<h:outputLabel value="#{item.numItem}" />
							</h:column>
							<h:column>
								<p:autoComplete value="#{item.player.name}" cache="true"
									maxlength="12"
									completeMethod="#{formationBean.completePlayerName}"
									maxResults="8">
									<p:ajax event="itemSelect"
										update="formation_form:panel_soccer_field" />
									<p:ajax event="change"
										update="formation_form:panel_soccer_field" />
								</p:autoComplete>
							</h:column>
						</h:dataTable>
					</h:panelGrid>

					<p:panel style="border: none" id="panel_soccer_field">
						<h:outputLabel value="#{labels['formation.titulairesNb']}"
							style="margin-left: 10px;font-size: 15px;" />
						<h:selectOneMenu
							value="#{formationBean.currentFormation.nbTitulaires}"
							converter="javax.faces.Integer" required="true" id="selectTit"
							style="text-align: center;margin-left: 10px;">
							<f:selectItem itemLabel="11" itemValue="11" />
							<f:selectItem itemLabel="9" itemValue="9" />
							<f:selectItem itemLabel="8" itemValue="8" />
							<f:selectItem itemLabel="7" itemValue="7" />
							<p:ajax update="pList, panel_soccer_field"
								listener="#{formationBean.updateNbTitulaires}" process="@this" />
						</h:selectOneMenu>
						<h:outputLabel value="#{labels['formation.remplacantsNb']}"
							style="margin-left: 15px;font-size: 15px;" />
						<h:selectOneMenu
							value="#{formationBean.currentFormation.nbRemplacants}"
							converter="javax.faces.Integer" required="true" id="selectRplt"
							style="text-align: center;margin-left: 10px;">
							<f:selectItem itemLabel="5" itemValue="5" />
							<f:selectItem itemLabel="4" itemValue="4" />
							<f:selectItem itemLabel="3" itemValue="3" />
							<f:selectItem itemLabel="2" itemValue="2" />
							<f:selectItem itemLabel="1" itemValue="1" />
							<f:selectItem itemLabel="0" itemValue="0" />
							<p:ajax update="pList, panel_soccer_field"
								listener="#{formationBean.updateNbPlayers}" process="@this" />
						</h:selectOneMenu>
						<!-- On créé la dataGrid pour afficher la grille-->
						<p:dataGrid widgetVar="trgField" id="trgField"
							value="#{formationBean.lstTarget}" var="t"
							styleClass="soccer_field" columns="5"
							style="margin-top:15px; width:60%; min-width: 460px; max-width: 460px; text-align:center; ">
							<p:column>
								<!-- Chaque case de la grille est un panel sans header d'une taille de 50*55-->
								<p:panel id="trg" styleClass="panelFormation"
									style="width:100%;height:65px;">
									<!-- Si un FormationItem est associé à la case, on l'affiche
                         dans un panel sans header de 35*40 -->
									<p:panel id="item" rendered="#{!empty t.formationItem.numItem}"
										styleClass="formationItem"
										style="height:45px;width:100%; background: transparent; cursor:pointer;display: inline-block; ">
										<h:outputText value="#{t.formationItem.numItem}"
											styleClass="numItem" style="font-size: 16px;" />

										<h:outputText value="#{t.formationItem.player.name}"
											styleClass="playerName"
											style="font-size: 13px; text-shadow: 2px 2px 3px black;" />
									</p:panel>

									<!-- On rend le panel du FormationItem draggable -->
									<p:draggable for="item" />
								</p:panel>
								<!-- On rend chaque case de la grille droppable en lui associant comme dataSource la DataGrid -->
								<p:droppable for="trg" tolerance="pointer"
									activeStyleClass="slotActive" datasource="trgField"
									onDrop="handleDrop">
									<!-- On ajoute un listener sur l'event onDrop -->
									<p:ajax listener="#{formationBean.onDrop}" update="trgField" />
								</p:droppable>
							</p:column>

						</p:dataGrid>
						<h:outputLabel value="#{labels['formation.remplacants']}"
							style="margin-left: 10px;font-size: 15px; font-weight: bold;" />
						<h:outputLabel
							value="#{formationBean.currentFormation.remplacants}"
							style="margin-left: 10px;font-size: 15px;" />
					</p:panel>
				</h:panelGrid>
				<br />

				<p:commandButton value="#{labels['generic.btn.back']}"
					icon="ui-icon-arrowreturnthick-1-w"
					onclick="window.history.back();" style="margin-right:15px;" />

				<p:commandButton value="#{labels['generic.btn.finish']}"
					icon="ui-icon-check" update="@form, :dialogForm"
					action="#{formationBean.saveFormationMatch(false)}" type="submit"
					process="@form"
					style="margin-top:0.8%;margin-bottom:0.8%; margin-right:15px;" />

				<p:commandButton
					value="#{labels['formation.btn.finishAndManageConvocs']}"
					rendered="false" icon="ui-icon-clipboard"
					update="@form, :dialogForm"
					action="#{formationBean.saveFormationMatchAndGoConvoc(false)}"
					type="submit" process="@form"
					style="margin-top:0.8%;margin-bottom:0.8%; " />
			</h:form>
		</p:layoutUnit>
	</p:layout>

	<h:form rendered="#{loginBean.isLogged}" id="dialogForm">
		<p:dialog closeOnEscape="true"
			header="#{labels['formation.dialog.unexistingPlayers']}" width="40%"
			appendToBody="false" resizable="false" global="true"
			style="line-height:1.2" modal="true" hideEffect="puff"
			widgetVar="dialogConfirmNewPlayers">
			<p>#{labels['formation.dialog.unexistingPlayers1']}</p>
			<p>
				<b>#{formationBean.unexistingPlayers}</b>
			</p>
			<p>#{labels['formation.dialog.unexistingPlayers2']}</p>
			<p>#{labels['formation.dialog.unexistingPlayers3']}</p>

			<br />
			<p:selectBooleanCheckbox
				value="#{formationBean.addUnexistingPlayers}" />
			<h:outputText style="margin-left: 5px; font-size: 16px;"
				value="#{labels['formation.dialog.addPlayers']}" />

			<br />
			<br />
			<p:commandButton onclick="PF('dialogConfirmNewPlayers').hide()"
				value="#{labels['generic.btn.no']}" />
			<p:commandButton action="#{formationBean.saveFormationMatch(true)}"
				id="validateNewPlayer" type="submit"
				value="#{labels['generic.btn.yes']}" style="margin-left:2%" />
			<p:defaultCommand target="validateNewPlayer" />
		</p:dialog>

	</h:form>
</h:body>
</html>