<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">

<h:head>
	<title>AS Coteaux - Formation visu</title>
	<link type="text/css" rel="stylesheet" href="/static/style.css" />
</h:head>

<h:body>

	<p:panel style="border: none;">
		<!-- On créé la dataGrid pour afficher la grille-->
		<p:dataGrid widgetVar="trgField" id="trgField"
			rendered="#{not formationBeanVisu.displayEmptyImage}"
			value="#{formationBeanVisu.lstTarget}" var="t"
			styleClass="soccer_field" columns="5" style=" text-align:center; ">
			<p:column>
				<p:panel id="trg"
					styleClass="panelFormation">

					<p:panel id="item" rendered="#{!empty t.formationItem.numItem}"
						styleClass="formationItem">
						<h:outputText value="#{t.formationItem.numItem}"
							styleClass="numItem" />

						<h:outputText value="#{t.formationItem.player.name}"
							styleClass="playerName" />
					</p:panel>

				</p:panel>

			</p:column>

		</p:dataGrid>
		<h:outputLabel value="#{labels['formation.remplacants']}"
			rendered="#{not formationBeanVisu.displayEmptyImage}"
			style="margin-left: 2%;font-size: 3.5vw; font-weight: bold;" />
		<h:outputLabel
			value="#{formationBeanVisu.currentFormation.remplacants}"
			style="margin-left: 2%;font-size: 3.5vw;" />

		<p:graphicImage value="/static/terrain.jpg"
			rendered="#{formationBeanVisu.displayEmptyImage}" />
	</p:panel>

</h:body>
</html>