<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">

<h:head>
	<f:facet name="first">
		<meta name="viewport" content="initial-scale=1.0, user-scalable=yes" />
	</f:facet>
	<title>#{labels['gallery.page.title']}</title>
	<link type="text/css" rel="stylesheet" href="/static/style.css" />
</h:head>

<h:body>

	<p:layout fullPage="true">
		<p:layoutUnit position="north" size="110" id="north" resizable="false">
			<ui:include src="templates/header.xhtml" />
		</p:layoutUnit>

		<p:layoutUnit position="west" id="west" resizable="false" size="250">
			<ui:include src="templates/menu.xhtml" />
		</p:layoutUnit>

		<p:layoutUnit styleClass="layoutUnitCenter" position="center"
			id="galleriaLayout" style="padding: 0.4% 2%;">

			<h2 style="padding-left: 2%; display: inline-block;">#{labels['gallery.title']}</h2>

			<h:form id="form">
				<p:treeTable value="#{galleriaBean.root}" var="document" id="docs"
					selectionMode="single" selection="#{galleriaBean.selectedNode}">
					<p:ajax event="select" listener="#{galleriaBean.onNodeSelect}"
						update=":form:galleriaPanel" />
					<f:facet name="header">
		           		#{labels['gallery.title']}
		        	</f:facet>
					<p:column>
						<h:outputText value="#{document.name}" style="margin-right:0.5em" />
						<h:outputText rendered="#{document.type == 'FOLDER'}"
							styleClass="ui-icon ui-icon-folder-open"
							style="display:inline-block" />
						<h:outputText rendered="#{document.type == 'PICTURE'}"
							styleClass="ui-icon ui-icon-image" style="display:inline-block" />
					</p:column>
					<p:column style="width:1em;" rendered="#{loginBean.isLogged}">
						<p:commandLink update=":diagForm:documentPanel, docs"
							oncomplete="PF('documentDialog').show()"
							title="#{labels['gallery.document.button.remove']}"
							styleClass="ui-icon ui-icon-close">
							<f:setPropertyActionListener value="#{document}"
								target="#{galleriaBean.documentToRemove}" />
						</p:commandLink>
					</p:column>

				</p:treeTable>

				<p:messages id="messages" showDetail="true" autoUpdate="true"
					closable="true" />

				<p:fileUpload rendered="false"
					fileUploadListener="#{galleriaBean.handleFileUpload}"
					mode="advanced" dragDropSupport="false" multiple="true"
					update="messages" sizeLimit="2000000" fileLimit="5"
					allowTypes="/(\.|\/)(gif|jpe?g|png)$/" />

				<p:separator style="margin:2em;" />

				<p:panel id="galleriaPanel" styleClass="hiddenBorder">
					<p:lightBox styleClass="imagebox" id="lighbox">
						<ui:repeat value="#{galleriaBean.imagesUrl}" var="imageUrl">
							<h:outputLink value="#{imageUrl}">
								<p:graphicImage url="#{imageUrl}"
									style="height: 77px; width: 100px; margin-right:5px; margin-bottom:5px;" />
							</h:outputLink>
						</ui:repeat>
					</p:lightBox>

					<!-- 					<p:galleria id="galleria" value="#{galleriaBean.imagesUrl}" -->
					<!-- 						style="margin: 0 auto;" -->
					<!-- 						rendered="#{ not empty galleriaBean.imagesUrl}" var="imageUrl" -->
					<!-- 						transitionInterval="4000" panelWidth="900" panelHeight="500"> -->
					<!-- 						<p:graphicImage style="max-width: 900px;" url="#{imageUrl}" /> -->
					<!-- 					</p:galleria> -->
				</p:panel>
			</h:form>

			<h:form rendered="#{loginBean.isLogged}" id="diagForm"
				name="diagForm">
				<p:dialog closeOnEscape="true"
					header="#{labels['gallery.document.remove.dialogtitle']}"
					width="30%" appendTo="@(body)" widgetVar="documentDialog"
					resizable="false" global="true" modal="true" hideEffect="puff">

					<p:outputPanel id="documentPanel">
						<h:outputText
							rendered="#{galleriaBean.documentToRemove.type == 'FOLDER'}"
							value="#{labels['gallery.document.remove.folder']}" />
						<h:outputText
							rendered="#{galleriaBean.documentToRemove.type == 'PICTURE'}"
							value="#{labels['gallery.document.remove.picture']}" />

					</p:outputPanel>
					<br />

					<p:commandButton value="#{labels['generic.btn.no']}" type="button"
						onclick="PF('documentDialog').hide()"
						styleClass="ui-confirmdialog-no" icon="ui-icon-close" />
					<p:commandButton value="#{labels['generic.btn.yes']}" type="submit"
						actionListener="#{galleriaBean.removeSelectedFile}"
						oncomplete="PF('documentDialog').hide()" process="@this"
						update=":form" styleClass="ui-confirmdialog-yes"
						icon="ui-icon-check" />

				</p:dialog>
			</h:form>

		</p:layoutUnit>
	</p:layout>


</h:body>


</html>
