<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">


<h:head>
	<f:facet name="first">
		<meta name="viewport" content="initial-scale=1.0, user-scalable=yes" />
	</f:facet>
	<title>#{labels['liveMng.page.title']}</title>
	<link type="text/css" rel="stylesheet" href="/static/style.css" />

	<script>
		PrimeFaces.locales['fr'] = {
			closeText : 'Fermer',
			prevText : 'Précédent',
			nextText : 'Suivant',
			monthNames : [ 'Janvier', 'Février', 'Mars', 'Avril', 'Mai',
					'Juin', 'Juillet', 'Août', 'Septembre', 'Octobre',
					'Novembre', 'Décembre' ],
			monthNamesShort : [ 'Jan', 'Fév', 'Mar', 'Avr', 'Mai', 'Jun',
					'Jul', 'Aoû', 'Sep', 'Oct', 'Nov', 'Déc' ],
			dayNames : [ 'Dimanche', 'Lundi', 'Mardi', 'Mercredi', 'Jeudi',
					'Vendredi', 'Samedi' ],
			dayNamesShort : [ 'Dim', 'Lun', 'Mar', 'Mer', 'Jeu', 'Ven', 'Sam' ],
			dayNamesMin : [ 'D', 'L', 'M', 'M', 'J', 'V', 'S' ],
			weekHeader : 'Semaine',
			firstDay : 1,
			isRTL : false,
			showMonthAfterYear : false,
			yearSuffix : '',
			timeOnlyTitle : 'Choisir l\'heure',
			timeText : 'Heure',
			hourText : 'Hrs',
			minuteText : 'Min',
			secondText : 'Sec',
			currentText : 'Maintenant',
			ampm : false,
			month : 'Mois',
			week : 'Semaine',
			day : 'Jour',
			allDayText : 'Toute la journée'
		};
	</script>
</h:head>

<h:body>
	<p:layout fullPage="true" style="background-color:#FFFFFF;">
		<p:layoutUnit position="north" size="110" id="north" resizable="false">
			<ui:include src="templates/header.xhtml" />
		</p:layoutUnit>

		<p:layoutUnit position="west" id="west" resizable="false" size="250">
			<ui:include src="templates/menu.xhtml" />
		</p:layoutUnit>

		<p:layoutUnit styleClass="layoutUnitCenter mobileCentered" position="center"
			rendered="#{loginBean.isLogged}" style="padding: 0.4% 2%;">
			<h:panelGroup rendered="#{!liveManagerBean.editing}">
				<h2 style="padding-left: 2%">#{labels['liveMng.title.addMatch']}</h2>
			</h:panelGroup>
			<h:panelGroup rendered="#{liveManagerBean.editing}">
				<h2 style="padding-left: 2%">#{labels['liveMng.title.editMatch']}</h2>
			</h:panelGroup>

			<p>
				<i>#{labels['liveMng.legend.details']}</i>
			</p>
			<br />
			<h:form appendToBody="true">

				<p:message for="selectCat" display="text" />
				<h:selectOneMenu value="#{liveManagerBean.match.categoryName}" required="true"
					id="selectCat" style="text-align: center;">
					<f:selectItem itemLabel="#{labels['liveMng.selectTeam']}" itemValue="#{null}" />
					<f:selectItems value="#{teamListBean.categoryList}" var="category"
						itemLabel="#{category.name}" itemValue="#{category}" />
					<p:ajax update="panel"
						listener="#{liveManagerBean.updateTeamNames}" process="@this" />
				</h:selectOneMenu>
				<h:panelGroup id="panel">
					<h:selectOneMenu value="#{liveManagerBean.match.teamName}"
						rendered="#{liveManagerBean.teamNamesSize > 1}"
						style=" text-align: center;">
						<f:selectItems value="#{liveManagerBean.teamNames}" var="teamName"
							itemLabel="#{teamName}" itemValue="#{teamName}" />
					</h:selectOneMenu>
				</h:panelGroup>
				<br />
				<br />
				<p:inputText rows="1" cols="80" id="intitule" required="true"
					style="width:300px;"
					placeholder="#{labels['liveMng.intitule']}"
					autoResize="false" value="#{liveManagerBean.match.intitule}" />
				<br />
				<br />
				<p:calendar id="datetime" value="#{liveManagerBean.match.date}"
					required="true" pattern="dd/MM/yyyy HH:mm"
					placeholder="#{labels['liveMng.datetime']}" timeZone="Europe/Paris" locale="fr" />
				<br />
				<br />
				<p:inputText rows="1" cols="80" id="team1" required="true" autocomplete="off" 
					placeholder="#{labels['liveMng.teamReceiver']}" autoResize="true" style="margin-right:0.4%;"
					value="#{liveManagerBean.match.team1}" />

				<p:inputText rows="1" cols="80" id="team2" required="true" autocomplete="off" 
					placeholder="#{labels['liveMng.teamVisitor']}" autoResize="true"
					value="#{liveManagerBean.match.team2}" style="margin-left:0.4%;" />
				<br />

				<h:panelGrid columns="2" style="margin-bottom:20px; margin-top:10px" cellpadding="5">
					<h:outputText value="#{labels['liveMng.friendlyMatch']}"/>
					<p:selectBooleanCheckbox value="#{liveManagerBean.friendlyMatch}" />
				</h:panelGrid>

				<p:commandButton value="#{labels['liveMng.btn.nextStep']}" rendered="#{!liveManagerBean.editing}"
					icon="ui-icon-arrowreturnthick-1-e" update="@form"
					action="#{liveManagerBean.goCompo}" type="submit"
					process="@form"
					style="margin-top:0.8%;margin-bottom:0.8%; margin-right:15px" />
					
				<p:commandButton value="#{labels['liveMng.btn.compo']}" rendered="#{liveManagerBean.editing}"
					icon="ui-icon-clipboard" update="@form"
					action="#{liveManagerBean.goCompo}" type="submit"
					process="@form"
					style="margin-top:0.8%;margin-bottom:0.8%; margin-right:15px" />

				<p:commandButton value="#{labels['generic.btn.finish']}" icon="ui-icon-check"
					update="@form" action="#{liveManagerBean.saveMatch}" type="submit"
					process="@form" style="margin-top:0.8%;margin-bottom:0.8%; " />
			</h:form>

		</p:layoutUnit>
		<p:layoutUnit styleClass="layoutUnitCenter" position="center"
			rendered="#{!loginBean.isLogged}" style="padding: 0.4% 2%;">
			<h:outputText
				value="#{labels['generic.error.403']}" />
		</p:layoutUnit>
	</p:layout>

</h:body>

</html>