<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">

<h:head>
	<f:facet name="first">
		<meta name="viewport" content="initial-scale=1.0, user-scalable=yes" />
	</f:facet>
	<title>#{labels['liveMatch.page.title']}</title>
	<link type="text/css" rel="stylesheet" href="/static/style.css" />
</h:head>

<h:body>
	<p:layout fullPage="true" style="background-color:#FFFFFF;">
		<p:layoutUnit position="north" size="110" id="north" resizable="false">
			<ui:include src="templates/header.xhtml" />
		</p:layoutUnit>

		<p:layoutUnit position="west" id="west" resizable="false" size="250">
			<ui:include src="templates/menu.xhtml" />
		</p:layoutUnit>

		<p:layoutUnit styleClass="layoutUnitCenter" position="center"
			id="layoutMain">
			<h2 style="padding-left: 2%; display: inline-block;">#{labels['liveMatch.title']}</h2>
			<p:commandButton action="liveMatchManager?faces-redirect=true"
				value="#{labels['liveMatch.btn.new']}" rendered="#{loginBean.isLogged}"
				style="float: right; margin-top: 2%; margin-right:2%;font-size:90%;"></p:commandButton>
			<p:dataList value="#{liveBean.matchs}" var="match" type="ordered"
				rendered="#{!liveBean.listEmpty}" id="matchDataList"
				rowIndexVar="index" styleClass="dataList-noborder">
				<h:form appendToBody="true">

					<p:panel id="basic" styleClass="livePanel"
						>
						<h:outputText
							value="#{match.categoryNameStr} #{match.teamName} - #{match.intitule} "
							styleClass="live-title" />

						<h:outputText value="#{match.date}" styleClass="live-date">
							<f:convertDateTime timeZone="Europe/Paris" locale="fr_FR"
								pattern=" dd MMMM yyyy HH:mm" />
						</h:outputText>

						<p:commandLink action="#{liveBean.displayDetails}"
							styleClass="live-link">
							<h:outputText value="#{match.team1} "
								style="display:inline-block; margin-right: 5px; margin-left: 15px;" />
							<h:outputText value="#{match.goalsTeam1} - #{match.goalsTeam2}"
								styleClass="live-score-list" />
							<h:outputText value=" #{match.team2}"
								style="display:inline-block; margin-left: 5px;" />
							<f:setPropertyActionListener value="#{match}"
								target="#{liveBean.selectedMatch}" />
						</p:commandLink>
						<span class="liveListButtons"> <p:commandButton
								value="#{labels['liveMatch.btn.edit']}" style="margin-right:10px; font-size:70%;"
								process="@this" rendered="#{loginBean.isLogged}"
								action="#{liveBean.editMatch}">
								<f:setPropertyActionListener value="#{match}"
									target="#{liveBean.selectedMatch}" />
							</p:commandButton> <p:commandButton value="#{labels['liveMatch.btn.delete']}"
								style="margin-right:10px; font-size:70%;" process="@this"
								oncomplete="PF('confirmDialog').show()"
								rendered="#{loginBean.isLogged}">
								<f:setPropertyActionListener value="#{match}"
									target="#{liveBean.selectedMatch}" />
							</p:commandButton>
						</span>

					</p:panel>
				</h:form>
			</p:dataList>
			<p:panel style="border:none; margin-left:15px;"
				rendered="#{liveBean.listEmpty}">
				<p>#{labels['liveMatch.noMatch']}</p>
			</p:panel>
			<p:confirmDialog message="#{labels['liveMatch.btn.deleteSelected']}"
				appendTo="@(body)" header="Confirmation suppression"
				severity="alert" widgetVar="confirmDialog">
				<h:form>
					<p:commandButton value="#{labels['liveMatch.btn.validate']}" update="@all" process="@this"
						oncomplete="PF('confirmDialog').hide()"
						actionListener="#{liveBean.deleteSelected}" />

					<p:commandButton value="#{labels['generic.btn.cancel']}"
						onclick="PF('confirmDialog').hide()" type="button" />
				</h:form>
			</p:confirmDialog>
		</p:layoutUnit>
	</p:layout>

</h:body>
</html>