<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">

<h:head>
	<f:facet name="first">
		<meta name="viewport" content="initial-scale=1.0, user-scalable=yes" />
	</f:facet>
	<title>#{labels['live.page.title']}</title>
	<link type="text/css" rel="stylesheet" href="/static/style.css" />
</h:head>

<h:body>
	<p:layout fullPage="true" style="background-color:#FFFFFF;">
		<p:layoutUnit position="north" size="110" id="north" resizable="false">
			<ui:include src="templates/header.xhtml" />
		</p:layoutUnit>

		<p:layoutUnit position="west" id="west" resizable="false" size="250">
			<ui:include src="templates/menu.xhtml" />
		</p:layoutUnit>

		<p:layoutUnit styleClass="layoutUnitCenter" position="center">
			<h:form appendToBody="true">

				<p:panel id="score" styleClass="score-panel"
					header="Le #{liveDetailsBean.match.formatedDate}"
					style="margin-bottom:20px; margin-right: 10px">

					<h:panelGrid columns="3" columnClasses ="live-team-score, live-score, live-team-score"
						style="width:100%; text-align:center;" styleClass="container">

						<h:outputText value="#{liveDetailsBean.match.team1}"
							escape="false" styleClass="live-team-score" />
						<h:outputText
							value="#{liveDetailsBean.match.goalsTeam1} - #{liveDetailsBean.match.goalsTeam2}"
							escape="false" styleClass="live-score" />
						<h:outputText value="#{liveDetailsBean.match.team2}"
							escape="false" styleClass="live-team-score" />
							
						<h:outputText value="#{liveDetailsBean.match.buteursTeam1}"
							escape="false" styleClass="live-team-buteurs" />
						<h:outputText
							value=""/>
						<h:outputText value="#{liveDetailsBean.match.buteursTeam2}"
							escape="false" styleClass="live-team-buteurs" />

					</h:panelGrid>
					<p:tabView>
						<p:tab title="#{labels['live.tabs.comments']}">
							<p:dataTable value="#{liveDetailsBean.comments}" var="comment" emptyMessage="#{labels['live.tabs.nocomments']}"
								type="ordered" id="comments-list" rowIndexVar="index">
								<p:column width="5%"
									style="text-align: center; padding-top:8px; padding-bottom: 8px;">
									<h:outputText value="#{comment.minuteEvent}'"
										styleClass="live-time" />

								</p:column>
								<p:column style="padding-top:8px; padding-bottom: 8px;">
									<h:outputText value="#{comment.content}" escape="false"
										styleClass="#{comment.important ? 'live-comment-bold' : 'live-comment'}" />
								</p:column>
							</p:dataTable>
						</p:tab>
						<p:tab title="#{labels['live.tabs.compo']}">
							<p:panel id="compo" styleClass="hiddenBorder">
							<ui:include src="formationVisuWeb.xhtml" />
							</p:panel>
						</p:tab>
					</p:tabView>
				</p:panel>

			</h:form>

		</p:layoutUnit>
	</p:layout>

</h:body>
</html>