<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">

<h:head>
	<f:facet name="first">
		<meta name="viewport" content="initial-scale=1.0, user-scalable=yes" />
	</f:facet>
	<title>#{labels['news.page.title']}</title>
	<link type="text/css" rel="stylesheet" href="/static/style.css" />
	<link type="text/css" rel="stylesheet" href="/static/styleNews.css" />
</h:head>

<h:body>
	<p:layout fullPage="true" style="background-color:#FFFFFF;">
		<p:layoutUnit position="north" size="110" id="north" resizable="false">
			<ui:include src="templates/header.xhtml" />
		</p:layoutUnit>

		<p:layoutUnit position="west" id="west" resizable="false" size="250">
			<ui:include src="templates/menu.xhtml" />
		</p:layoutUnit>

		<p:layoutUnit styleClass="layoutUnitCenter" position="center">

			<h2 class="newsTitle">#{labels['news.title']}</h2>
			<p:commandButton action="newsManager?faces-redirect=true"
				value="#{labels['news.btn.addNews']}"
				rendered="#{loginBean.isLogged}"
				styleClass="addNewsBtn"></p:commandButton>
			<br />
			<h:outputText value="#{labels['news.noArticle']}"
				rendered="#{empty newsBean.newsList}" />
			<p:dataList value="#{newsBean.newsList}" var="news" type="definition"
				rendered="#{ not empty newsBean.newsList}" id="newsDataList"
				emptyMessage="#{labels['news.noArticle']}" rowIndexVar="index"
				styleClass="dataList-noborder">
				<h:form appendToBody="true">
					<p:panel id="basic" header="#{news.title}"
						styleClass="newsItem;">

						<f:facet name="footer">
							<div class="ui-helper-clearfix ui-corner-all">
								<p:button value="#{labels['generic.btn.edit']}"
									outcome="newsManager" style="margin-right:10px" process="@this"
									rendered="#{loginBean.isLogged}">
									<f:param name="id" value="#{news.id}" />
									<f:param name="edit" value="true" />
									<f:param name="faces-redirect" value="true" />
								</p:button>
								<p:commandButton value="#{labels['generic.btn.delete']}"
									style="margin-right:15px" process="@this"
									oncomplete="PF('confirmDialog').show()"
									rendered="#{loginBean.isLogged}">
									<f:setPropertyActionListener value="#{news}"
										target="#{newsBean.selectedNews}" />
								</p:commandButton>

								<p:outputLabel
									value="#{labels['news.creationDate']} #{news.formatedDate}" />
							</div>
						</f:facet>

						<h:panelGrid columns="2" cellpadding="10">
							<p:row>
								<p:column>
									<a href="#{news.imageUrl}" target="_blank"><img
										class="imgNews" src="#{news.imageUrl}" /></a>
								</p:column>
							</p:row>
							<p:row>
								<p:column>
									<h:outputText value="#{news.contentTruncated}" escape="false"
										style="font-size: 15px;" />
									<p:link outcome="newsDetails" styleClass="linkNewsReadMore"
										value="#{labels['generic.btn.readMore']}">
										<f:param name="newsId" value="#{news.id}" />
									</p:link>
								</p:column>
							</p:row>
						</h:panelGrid>
					</p:panel>
				</h:form>
			</p:dataList>

			<p:confirmDialog message="#{labels['news.dialog.deleteMsg']}"
				appendTo="@(body)" header="#{labels['news.dialog.title']}"
				severity="alert" widgetVar="confirmDialog">
				<h:form>
					<p:commandButton value="#{labels['generic.btn.validate']}"
						update="newsDataList" process="@this"
						oncomplete="PF('confirmDialog').hide()"
						actionListener="#{newsBean.deleteSelected}" />

					<p:commandButton value="#{labels['generic.btn.cancel']}"
						onclick="PF('confirmDialog').hide()" type="button" />
				</h:form>
			</p:confirmDialog>

			<div id="footer">
				<p>#{labels['generic.footer']}</p>
			</div>

		</p:layoutUnit>
	</p:layout>

</h:body>
</html>