<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">

<h:head>
	<f:facet name="first">
		<meta name="viewport" content="initial-scale=1.0, user-scalable=yes" />
	</f:facet>
	<title>#{labels['news.edit.page.title']}</title>
	<link type="text/css" rel="stylesheet" href="/static/style.css" />
	<script>
		window.setTimeout("location=('news.xhtml');", 2000);
	</script>
</h:head>

<h:body>

	<p:layout fullPage="true">
		<p:layoutUnit position="north" size="110" id="north" resizable="false">
			<ui:include src="templates/header.xhtml" />
		</p:layoutUnit>

		<p:layoutUnit position="west" id="west" resizable="false" size="250">
			<ui:include src="templates/menu.xhtml" />
		</p:layoutUnit>

		<p:layoutUnit styleClass="layoutUnitCenter" position="center"
			id="agenda" style="padding: 0.4% 2%;">
			<h2>#{labels['news.edit.title']}</h2>
			
			<p>#{labels['news.edit.details']}</p>
			<p style="font-size: 12px;">#{labels['generic.redirect.details']}</p>
		</p:layoutUnit>
	</p:layout>

</h:body>

</html>
