<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">
	

<h:head>
	<f:facet name="first">
		<meta name="viewport" content="initial-scale=1.0, user-scalable=yes" />
	</f:facet>
	<title>#{labels['newsMng.page.title']}</title>
	<link type="text/css" rel="stylesheet" href="/static/style.css" />
	<style media="screen" type="text/css">
.ui-fileupload-buttonbar {
	background: transparent !important;
	border: none;
}

.ui-fileupload-content {
	border: none;
}

.ui-fileupload {
	display: inline-block !important;
}
</style>
	<script>
		$(function() {
			$(".ui-editor-group>.ui-editor-button").each(function() {
				var title = $(this).attr("title").toLowerCase();
				switch (title) {
				case "bold":
					title = "Gras";
					break;
				case "italic":
					title = "Italique";
					break;
				case "underline":
					title = "Souligné";
					break;
				case "strikethrough":
					title = "Barré";
					break;
				case "font size":
					title = "Taille de la police";
					break;
				case "style":
					title = "Style";
					break;
				case "font":
					title = "Police";
					break;
				case "font color":
					title = "Couleur texte";
					break;
				case "align text left":
					title = "Aligner texte à gauche";
					break;
				case "center":
					title = "Centrer";
					break;
				case "align text right":
					title = "Aligner texte à droite";
					break;
				case "justify":
					title = "Justifier";
					break;

				}
				$(this).attr("title", title);
			})
		})
	</script>
</h:head>

<h:body>
	<p:layout fullPage="true">
		<p:layoutUnit position="north" size="110" id="north" resizable="false">
			<ui:include src="templates/header.xhtml" />
		</p:layoutUnit>

		<p:layoutUnit position="west" id="west" resizable="false" size="250">
			<ui:include src="templates/menu.xhtml" />
		</p:layoutUnit>

		<p:layoutUnit styleClass="layoutUnitCenter" position="center"
			rendered="#{loginBean.isLogged}" style="padding: 0.4% 2%;">
			<h:panelGroup rendered="#{!newsManagerBean.editing}">
				<h2>#{labels['newsMng.title.new']}</h2>
			</h:panelGroup>
			<h:panelGroup rendered="#{newsManagerBean.editing}">
				<h2>#{labels['newsMng.title.edit']}</h2>
			</h:panelGroup>

			<p>
				<i>#{labels['newsMng.legend.details']}</i>
			</p>

			<h:form enctype="multipart/form-data" >
				<p:messages id="messages" autoUpdate="true" closable="true" />
				<br />
				<h:outputLabel for="newsType" value="#{labels['newsMng.newsType']}" />
				<h:selectOneMenu id="newsType" value="#{newsManagerBean.newsType}"
					style="margin-left:10px" required="true" label="Type de News">
					<f:selectItem itemLabel="#{labels['newsMng.newsType.other']}"
						itemValue="#{labels['newsMng.newsType.otherValue']}" />
					<f:selectItem itemLabel="#{labels['newsMng.newsType.agenda']}"
						itemValue="#{labels['newsMng.newsType.agendaValue']}" />
					<f:selectItem
						itemLabel="#{labels['newsMng.newsType.convocations']}"
						itemValue="#{labels['newsMng.newsType.convocationsValue']}" />
					<f:selectItem itemLabel="#{labels['newsMng.newsType.results']}"
						itemValue="#{labels['newsMng.newsType.resultsValue']}" />
					<p:ajax event="change" update="pnlImageSelection" />
				</h:selectOneMenu>

				<br />
				<br />
				<p:outputLabel for="title" value="#{labels['newsMng.news.title']}"
					style="display:none" />
				<p:inputText type="text" name="title" id="title"
					placeholder="#{labels['newsMng.news.title']}" style="width:250px;"
					maxlength="50" value="#{newsManagerBean.title}" required="true" />
				<br />
				<br />
				<p:outputLabel for="editor"
					value="#{labels['newsMng.news.content']}" style="display:none" />
				<p:editor placeholder="#{labels['newsMng.news.content']}"
					id="editor" language="fr" required="true"
					controls="bold italic underline strikethrough font size style color alignleft center alignright justify link"
					widgetVar="editorWidget" value="#{newsManagerBean.text}"
					width="600"
					onchange="document.getElementById('content').value = 'this.value'" />
				<br />

				<h:panelGroup id="pnlImageSelection">
					<h:panelGrid columns="1"
						rendered="#{newsManagerBean.displayImageSelection}">
						<h4>#{labels['newsMng.news.image']}</h4>

						<h:panelGrid columns="2" style="margin-bottom:10px"
							cellpadding="5" rendered="#{newsManagerBean.editing}">
							<h:outputText value="#{labels['newsMng.news.keepImg']}" />
							<p:selectBooleanCheckbox value="#{newsManagerBean.keepOldImage}"
								name="keepOldImage">
								<p:ajax event="change" update="pnlImageSelection" />
							</p:selectBooleanCheckbox>
						</h:panelGrid>

						<h:panelGroup rendered="#{!newsManagerBean.keepOldImage}">

							<p:fileUpload
								fileUploadListener="#{newsManagerBean.handleFileUpload}"
								auto="true" dragDropSupport="false"
								sizeLimit="1050000"
								invalidSizeMessage="#{labels['newsMng.news.imagetoobig']}"
								invalidFileMessage="#{labels['newsMng.news.wrongfile']}"
								mode="advanced" update="messages, filename"
								label="Choisir image" allowTypes="/(\.|\/)(gif|jpe?g|png)$/" />
							<p:outputLabel id="filename" value="#{newsManagerBean.fileName}"></p:outputLabel>
						</h:panelGroup>
					</h:panelGrid>
				</h:panelGroup>
				<br />
				<br />

				<h:panelGrid columns="2" style="margin-bottom:10px" cellpadding="5"
					rendered="#{!newsManagerBean.editing}">
					<h:outputText value="#{labels['newsMng.news.sendNotif']}" />
					<p:selectBooleanCheckbox
						value="#{newsManagerBean.sendNotification}" name="notification" />
				</h:panelGrid>

				<p:commandButton value="#{labels['generic.btn.validate']}"
					ajax="false" type="submit" onsuccess="PF('statusDialog').hide()"
					onclick="PF('statusDialog').show();" process="@form"
					action="#{newsManagerBean.addNews}" />

				<p:dialog widgetVar="statusDialog" modal="true" draggable="false"
					closable="false" resizable="false" showHeader="false">
					<img src="/static/loading.gif" alt="Logo" class="loadingDialog" />
					<p:outputLabel value="#{labels['stats.message.processing']}"></p:outputLabel>
				</p:dialog>

			</h:form>
		</p:layoutUnit>

		<p:layoutUnit styleClass="layoutUnitCenter" position="center"
			rendered="#{!loginBean.isLogged}" style="padding: 0.4% 2%;">
			<h:outputText value="#{labels['generic.error.403']}" />
		</p:layoutUnit>
	</p:layout>
</h:body>

</html>