<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">

<h:head>
	<f:facet name="first">
		<meta name="viewport" content="initial-scale=1.0, user-scalable=yes" />
	</f:facet>
	<title>#{labels['news.page.title']}</title>
	<link type="text/css" rel="stylesheet" href="/static/style.css" />
	<f:facet name="first">
		<meta property="og:type"          content="article" />	
		<meta property="og:url"           content="#{request.requestURL}?newsId=#{newsDetailsBean.news.id}" />	
		<meta property="og:title"         content="#{newsDetailsBean.news.title}" />
		<meta property="og:description"   content="#{newsDetailsBean.news.contentTruncated}" />
		<meta property="og:image:url"         content="#{newsDetailsBean.news.imageUrl}" />
	</f:facet>
</h:head>

<h:body>
	<p:layout fullPage="true" style="background-color:#FFFFFF;">
		<p:layoutUnit position="north" size="110" id="north" resizable="false">
			<ui:include src="templates/header.xhtml" />
		</p:layoutUnit>

		<p:layoutUnit position="west" id="west" resizable="false" size="250">
			<ui:include src="templates/menu.xhtml" />
		</p:layoutUnit>

		<p:layoutUnit styleClass="layoutUnitCenter" position="center">

			<h2 style="padding-left: 2%; display: inline-block;">#{newsDetailsBean.news.title}</h2>
			
			<h:form appendToBody="true">
				<p:panel id="basic" style="margin-bottom:20px; margin-right: 10px;">

					<f:facet name="footer">
						<div class="ui-helper-clearfix ui-corner-all">

							<p:commandLink class="btn-fb-share" onclick="javascript:openFbPopUp();">
    							<img style="margin-bottom:-5px;" src="/static/facebook-partage.png" width="72" height="20" alt="Partager" /></p:commandLink>
							<p:button value="#{labels['generic.btn.edit']}"
								outcome="newsManager" style="margin-right:10px;" process="@this"
								rendered="#{loginBean.isLogged}">
								<f:param name="id" value="#{newsDetailsBean.news.id}" />
								<f:param name="edit" value="true" />
								<f:param name="faces-redirect" value="true" />
							</p:button>
							<p:commandButton value="#{labels['generic.btn.delete']}"
								style="margin-right:15px" process="@this"
								oncomplete="PF('confirmDialog').show()"
								rendered="#{loginBean.isLogged}">
							</p:commandButton>
							<p:outputLabel
								value="#{labels['news.creationDate']} #{newsDetailsBean.news.formatedDate}" />
						</div>
					</f:facet>

					<h:panelGrid cellpadding="15" style="width:100%;" rowClasses="empty, separator, empty, separator,">
						<h:panelGroup style="display:block; text-align:center;">
							<p:row> 
								<p:column>
									<a href="#{news.imageUrl}" target="_blank"><img
										style="max-width: 450px;"
										src="#{newsDetailsBean.news.imageUrl}" /></a>
								</p:column>
							</p:row>
						</h:panelGroup>
						<span />
						<p:row>
							<p:column>
								<h:outputText value="#{newsDetailsBean.news.content}"
									escape="false" style="font-size: 15px;"/>
							</p:column>
						</p:row>
					</h:panelGrid>
				</p:panel>
			</h:form>


			<p:confirmDialog message="#{labels['news.dialog.deleteMsg']}"
				appendTo="@(body)" header="#{labels['news.dialog.title']}"
				severity="alert" widgetVar="confirmDialog">
				<h:form>
					<p:commandButton value="#{labels['generic.btn.validate']}"
						process="@this" oncomplete="PF('confirmDialog').hide()"
						action="#{newsDetailsBean.delete}" />

					<p:commandButton value="#{labels['generic.btn.cancel']}"
						onclick="PF('confirmDialog').hide()" type="button" />
				</h:form>
			</p:confirmDialog>

			<div id="footer">
				<p>#{labels['generic.footer']}</p>
			</div>

		</p:layoutUnit>
	</p:layout>
	<script>
	function openFbPopUp() {
	    var fburl = '#{request.requestURL}?newsId=#{newsDetailsBean.news.id}'.replace("https", "http");
	    var fbimgurl = '#{newsDetailsBean.news.imageUrl}'.replace("https", "http");
	    var fbtitle = "#{newsDetailsBean.news.title}";
	    var fbsummary = "#{newsDetailsBean.news.contentTruncated}";
	    var sharerURL = "http://www.facebook.com/sharer/sharer.php?s=100&amp;p[url]=" + fburl + "&amp;p[images][0]=" + fbimgurl + "&amp;p[title]=" + encodeURI(fbtitle) + "&amp;p[summary]=" + encodeURI(fbsummary);
	    window.open(
	      sharerURL,
	      'facebook-share-dialog', 
	      'width=626,height=436'); 

	    return true;
	}
	</script>
</h:body>
</html>