<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">

<h:head>
	<f:facet name="first">
		<meta name="viewport" content="initial-scale=1.0, user-scalable=yes" />
	</f:facet>
	<title>AS Coteaux - Notifications</title>
	<link type="text/css" rel="stylesheet" href="/static/style.css" />
</h:head>

<h:body>

	<p:layout fullPage="true">
		<p:layoutUnit position="north" size="110" id="north" resizable="false">
			<ui:include src="templates/header.xhtml" />
		</p:layoutUnit>

		<p:layoutUnit position="west" id="west" resizable="false" size="250">
			<ui:include src="templates/menu.xhtml" />
		</p:layoutUnit>

		<p:layoutUnit styleClass="layoutUnitCenter" position="center"
			rendered="#{loginBean.isLogged}" id="results"
			style="padding: 0.4% 2%;">
			<h2>Notifications Push</h2>
			<p>
				<i>Ce formulaire permet d'envoyer des notifications push aux
					personnes possédant l'application mobile.</i>
			</p>
			<h:form>
				<p:inputText rows="1" cols="80" id="pushTitle" placeholder="Titre"
					autoResize="false" value="#{pushNotificationsBean.titleMsg}" />
				<br />
				<br />
				<p:inputTextarea rows="8" cols="80" counter="display" id="pushMsg"
					placeholder="Contenu du message"
					value="#{pushNotificationsBean.textMsg}" maxlength="600"
					counterTemplate="{0} caractères restants." autoResize="false" />
				<br />
				<h:outputText id="display" />
				<br />
				<br />
				<table>
					<tr>
						<td><p:outputLabel value="Envoyer aux appareils suivants:" /></td>
					</tr>
					<tr>
						<td><p:outputLabel value="iOS" style="font-style:italic" /></td>
						<td><p:selectBooleanCheckbox
								value="#{pushNotificationsBean.sendIOs}" name="sendIOs"/></td>
					</tr>
					<tr>
						<td><p:outputLabel value="Android" style="font-style:italic" /></td>
						<td><p:selectBooleanCheckbox
								value="#{pushNotificationsBean.sendAndroid}" name="sendAndroid"/>
						</td>
					</tr>
				</table>
				<br />
				<p:commandButton value="Envoyer" icon="ui-icon-check"
					action="#{pushNotificationsBean.sendPushMessage}" type="submit"
					process="@form" style="margin-top:0.8%;margin-bottom:0.8%;" />
			</h:form>
		</p:layoutUnit>

		<p:layoutUnit styleClass="layoutUnitCenter" position="center"
			rendered="#{!loginBean.isLogged}" style="padding: 0.4% 2%;">
			<h:outputText
				value="Erreur 403: Vous n'avez pas le droit d'accéder à cette page." />
		</p:layoutUnit>
	</p:layout>

	<script type="text/javascript">
		function test() {

		}
	</script>
</h:body>


</html>
