<!DOCTYPE xhtml PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">

<h:head>
	<f:facet name="first">
		<meta name="viewport" content="initial-scale=1.0, user-scalable=yes" />
	</f:facet>
	<title>#{labels['stats.page.title']}</title>
	<link type="text/css" rel="stylesheet" href="/static/style.css" />
</h:head>

<h:body>
	<p:layout fullPage="true">
		<p:layoutUnit position="north" size="110" id="north" resizable="false">
			<ui:include src="templates/header.xhtml" />
		</p:layoutUnit>

		<p:layoutUnit position="west" id="west" resizable="false" size="250">
			<ui:include src="templates/menu.xhtml" />
		</p:layoutUnit>

		<p:layoutUnit styleClass="layoutUnitCenter" position="center"
			style="padding: 0.4% 2%;">
			<h:form id="form" prependId="false">
				<p:growl id="msgs" showDetail="true" />
				<!-- 		for="saveInfo" /> -->
				<p:panelGrid columns="2" layout="grid">

					<p:column>
						<h2>#{labels['stats.title']}</h2>
					</p:column>
					<p:column>
						<h:selectOneMenu id="selectSeason"
							value="#{statsBean.selectedSeason}"
							style="float:right; margin-top:10px !important">
							<f:selectItems value="#{statsBean.seasons}" var="season"
								itemLabel="#{season}" itemValue="#{season}" />

							<p:ajax update="statsList" onsuccess="PF('statusDialog').hide()"
								onstart="PF('statusDialog').show();"
								listener="#{statsBean.loadPlayerList}" process="@this" />
						</h:selectOneMenu>
						<h:outputLabel
							style="float:right;margin-right:5px; margin-top:10px !important">#{labels['generic.season']}</h:outputLabel>
					</p:column>

				</p:panelGrid>

				<p:dataTable var="player" value="#{statsBean.players}" rows="25"
					rowsPerPageTemplate="10,25,50" paginator="true"
					emptyMessage="#{labels['stats.message.noplayers']}"
					paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown} "
					editable="true" rowKey="#{player.name}" id="statsList"
					editMode="cell" rowSelectMode="checkbox" tabindex="index"
					selection="#{statsBean.checkedPlayers}" styleClass="align-center">
					<p:ajax event="toggleSelect" listener="#{statsBean.onToggleSelect}"
						update="panelBtn" />
					<p:ajax event="rowSelectCheckbox"
						listener="#{statsBean.onRowSelect}" update="panelBtn" />
					<p:ajax event="rowUnselectCheckbox"
						listener="#{statsBean.onRowUnselect}" update="panelBtn" />

					<p:columnGroup type="header">
						<p:row>
							<p:column style="width:16px" />
							<p:column colspan="3"
								headerText="#{labels['stats.headers.player']}" />
							<p:column colspan="6"
								headerText="#{labels['stats.headers.stats']}" />
						</p:row>
						<p:row>
							<p:column selectionMode="multiple"
								rendered="#{loginBean.isLogged}"
								style="width:16px;text-align:center" />
							<p:column rendered="#{!loginBean.isLogged}" />
							<p:column headerText="#{labels['stats.headers.player']}" />
							<p:column headerText="#{labels['stats.headers.age']}" />
							<p:column headerText="#{labels['stats.headers.position']}" />
							<p:column headerText="#{labels['stats.headers.team']}" />
							<p:column headerText="#{labels['stats.headers.matchs']}" />
							<p:column headerText="#{labels['stats.headers.goals']}" />
							<p:column headerText="#{labels['stats.headers.assists']}" />
							<p:column headerText="#{labels['stats.headers.yellowCard']}" />
							<p:column headerText="#{labels['stats.headers.redCard']}" />
						</p:row>
					</p:columnGroup>

					<p:column selectionMode="multiple" rendered="#{loginBean.isLogged}"
						style="width:16px;text-align:center" />
					<p:column rendered="#{!loginBean.isLogged}" />

					<p:column>
						<h:outputText value="#{player.name}"></h:outputText>
					</p:column>
					<p:column>
						<p:cellEditor style="text-align: center;"
							rendered="#{loginBean.isLogged}">
							<f:facet name="output">
								<h:outputText value="#{player.age}" style="text-align: center;" />
							</f:facet>
							<f:facet name="input">
								<p:inputText value="#{player.age}" maxlength="3"
									onkeypress="if(event.which &lt; 48 || event.which &gt; 57) return false;"
									style="width:96%; text-align: center;" label="Age" />
							</f:facet>
						</p:cellEditor>
						<h:outputText rendered="#{!loginBean.isLogged}"
							value="#{player.age}" style="text-align: center;" />
					</p:column>
					<p:column>
						<p:cellEditor rendered="#{loginBean.isLogged}">
							<f:facet name="output">
								<h:outputText value="#{player.position}"
									style="text-align: center;" />
							</f:facet>
							<f:facet name="input">
								<h:selectOneMenu value="#{player.position}"
									style="width:100%; text-align: center;">
									<f:selectItems value="#{statsBean.positions}" var="position"
										itemLabel="#{position}" itemValue="#{position}" />
								</h:selectOneMenu>
							</f:facet>
						</p:cellEditor>
						<h:outputText rendered="#{!loginBean.isLogged}"
							value="#{player.position}" style="text-align: center;" />
					</p:column>
					<p:column colspan="6" style="padding:0px">
						<p:dataTable var="stat" value="#{player.teamStats}"
							editable="true" editMode="cell" styleClass="hide-column-names">
							<p:column styleClass="ui-editable-column"
								style="text-align: center;">
								<h:outputText value=" #{stat.teamName}" />
							</p:column>

							<p:column styleClass="ui-editable-column"
								style="text-align: center;">
								<p:cellEditor rendered="#{loginBean.isLogged}">
									<f:facet name="output">
										<h:outputText value=" #{stat.gamesPlayed}" />
									</f:facet>
									<f:facet name="input">
										<p:inputText value="#{stat.gamesPlayed}" maxlength="3"
											onkeypress="if(event.which &lt; 48 || event.which &gt; 57) return false;"
											style="width:96%;text-align: center;" />
									</f:facet>
								</p:cellEditor>
								<h:outputText rendered="#{!loginBean.isLogged}"
									value=" #{stat.gamesPlayed}" />
							</p:column>
							<p:column styleClass="ui-editable-column"
								style="text-align: center;">
								<p:cellEditor rendered="#{loginBean.isLogged}">
									<f:facet name="output">
										<h:outputText value=" #{stat.goals}" />
									</f:facet>
									<f:facet name="input">
										<p:inputText value="#{stat.goals}" maxlength="3"
											onkeypress="if(event.which &lt; 48 || event.which &gt; 57) return false;"
											style="width:96%;text-align: center;" />
									</f:facet>
								</p:cellEditor>
								<h:outputText rendered="#{!loginBean.isLogged}"
									value=" #{stat.goals}" />
							</p:column>
							<p:column styleClass="ui-editable-column"
								style="text-align: center;">
								<p:cellEditor rendered="#{loginBean.isLogged}">
									<f:facet name="output">
										<h:outputText value=" #{stat.assists}" />
									</f:facet>
									<f:facet name="input">
										<p:inputText value="#{stat.assists}" maxlength="3"
											onkeypress="if(event.which &lt; 48 || event.which &gt; 57) return false;"
											style="width:96%;text-align: center;" />
									</f:facet>
								</p:cellEditor>
								<h:outputText rendered="#{!loginBean.isLogged}"
									value=" #{stat.assists}" />
							</p:column>
							<p:column styleClass="ui-editable-column"
								style="text-align: center;">
								<p:cellEditor rendered="#{loginBean.isLogged}">
									<f:facet name="output">
										<h:outputText value=" #{stat.yellowCards}" />
									</f:facet>
									<f:facet name="input">
										<p:inputText value="#{stat.yellowCards}" maxlength="3"
											onkeypress="if(event.which &lt; 48 || event.which &gt; 57) return false;"
											style="width:96%;text-align: center;" />
									</f:facet>
								</p:cellEditor>
								<h:outputText rendered="#{!loginBean.isLogged}"
									value=" #{stat.yellowCards}" />
							</p:column>
							<p:column styleClass="ui-editable-column"
								style="text-align: center;">
								<p:cellEditor rendered="#{loginBean.isLogged}">
									<f:facet name="output">
										<h:outputText value=" #{stat.redCards}" />
									</f:facet>
									<f:facet name="input">
										<p:inputText value="#{stat.redCards}" maxlength="3"
											onkeypress="if(event.which &lt; 48 || event.which &gt; 57) return false;"
											style="width:96%;text-align: center;" />
									</f:facet>
								</p:cellEditor>
								<h:outputText rendered="#{!loginBean.isLogged}"
									value=" #{stat.redCards}" />
							</p:column>
						</p:dataTable>
					</p:column>

				</p:dataTable>
				<br />

				<p:panel id="panelBtn" style="border: none; margin:0px; padding:0px">
					<p:commandButton title="#{labels['stats.btn.newPlayer']}"
						onclick="PF('dlg').show();" rendered="#{loginBean.isLogged}"
						icon="fa fa-fw fa-user-plus"
						style="margin-top:0.8%;margin-bottom:0.8%;margin-right: 0.8%;" />

					<p:commandButton title="#{labels['stats.btn.addMatch']}"
						onclick="PF('dlgAddMatch').show();"
						rendered="#{loginBean.isLogged and (statsBean.numberOfRowSelected>0)}"
						onstart="PF('statusDialog').show()"
						oncomplete="PF('statusDialog').hide()"
						icon="fa fa-fw fa-futbol-o"
						style="margin-top:0.8%;margin-bottom:0.8%;margin-right: 0.8%;" />

					<p:commandButton title="#{labels['stats.btn.addGoal']}"
						onclick="PF('dlgAddGoal').show();"
						rendered="#{loginBean.isLogged and (statsBean.numberOfRowSelected>0)}"
						onstart="PF('statusDialog').show()"
						oncomplete="PF('statusDialog').hide()"
						icon="fa fa-fw fa-child"
						style="margin-top:0.8%;margin-bottom:0.8%;margin-right: 0.8%;" />

					<p:commandButton id="btnDel"
						title="#{labels['stats.btn.deletePlayer']}"
						icon="fa fa-fw fa-user-times" 
						rendered="#{loginBean.isLogged and (statsBean.numberOfRowSelected>0)}"
						actionListener="#{statsBean.deleteSelected}" update="statsList" onstart="PF('statusDialog').show()"
						oncomplete="PF('statusDialog').hide()"
						style="margin-top:0.5%;">
						<p:confirm header="#{labels['stats.confirm.title']}"
							message="#{labels['stats.confirm.details']}" icon="ui-icon-alert" />
					</p:commandButton>
				</p:panel>

				<p:separator />
				<p:commandButton value="#{labels['stats.btn.save']}"
					icon="ui-icon-check" rendered="#{loginBean.isLogged}" update="msgs"
					actionListener="#{statsBean.savePlayers}"
					onsuccess="PF('statusDialog').hide()"
					onclick="PF('statusDialog').show();" type="submit" process="@this"
					style="margin-top:0.8%;margin-bottom:0.8%;" />
			</h:form>

			<p:dialog widgetVar="statusDialog" modal="true" draggable="false"
				closable="false" resizable="false" showHeader="false">
				<img src="/static/loading.gif" alt="Logo" class="loadingDialog" />
				<p:outputLabel value="#{labels['stats.message.processing']}"></p:outputLabel>
			</p:dialog>

			<h:form rendered="#{loginBean.isLogged}">
				<p:confirmDialog closeOnEscape="true" global="true"
					widgetVar="confirmDel" appendToBody="false" showEffect="fade"
					hideEffect="puff">
					<p:commandButton value="#{labels['generic.btn.no']}" type="button"
						styleClass="ui-confirmdialog-no" icon="ui-icon-close" />
					<p:commandButton value="#{labels['generic.btn.yes']}" type="button"
						styleClass="ui-confirmdialog-yes" icon="ui-icon-check" />

				</p:confirmDialog>
			</h:form>

		</p:layoutUnit>
	</p:layout>

	<h:form rendered="#{loginBean.isLogged}">
		<p:dialog closeOnEscape="true" header="#{labels['stats.addMatch']}"
			width="30%" appendToBody="false" widgetVar="dlgAddMatch"
			resizable="false" global="true" modal="true" hideEffect="puff">

			<h:outputLabel for="newsType"
				value="#{labels['stats.addMatchForTeam']}" />
			<h:selectOneMenu id="newsType" value="#{statsBean.teamSelected}"
				style="margin-left:10px; margin-bottom:20px" required="true">
				<f:selectItems value="#{statsBean.teamNames}" var="teamName"
					itemLabel="#{teamName}" itemValue="#{teamName}" />
			</h:selectOneMenu>
			<br />

			<p:commandButton onclick="dlgAddMatch.hide()"
				value="#{labels['generic.btn.cancel']}" />
			<p:commandButton actionListener="#{statsBean.addMatchSelected}"
				id="validateNewMatch" type="submit"
				value="#{labels['generic.btn.validate']}"
				oncomplete="PF('dlgAddMatch').hide();" style="margin-left:2%"
				update="statsList,panelBtn" />
		</p:dialog>
	</h:form>

	<h:form rendered="#{loginBean.isLogged}">
		<p:dialog closeOnEscape="true" header="#{labels['stats.addGoal']}"
			width="30%" appendToBody="false" widgetVar="dlgAddGoal"
			resizable="false" global="true" modal="true" hideEffect="puff">

			<h:outputLabel for="newsType"
				value="#{labels['stats.addGoalForTeam']}" />
			<h:selectOneMenu id="newsType" value="#{statsBean.teamSelected}"
				style="margin-left:10px; margin-bottom:20px" required="true">
				<f:selectItems value="#{statsBean.teamNames}" var="teamName"
					itemLabel="#{teamName}" itemValue="#{teamName}" />
			</h:selectOneMenu>
			<br />
			<p:commandButton onclick="dlgAddGoal.hide()"
				value="#{labels['generic.btn.cancel']}" />
			<p:commandButton actionListener="#{statsBean.addGoalSelected}"
				id="validateNewGoal" type="submit"
				value="#{labels['generic.btn.validate']}"
				oncomplete="PF('dlgAddGoal').hide();" style="margin-left:2%"
				update="statsList,panelBtn" />
		</p:dialog>
	</h:form>

	<h:form rendered="#{loginBean.isLogged}">
		<p:dialog closeOnEscape="true" header="#{labels['stats.newPlayer']}"
			width="25%" appendToBody="false" widgetVar="dlg" resizable="false"
			global="true" modal="true" hideEffect="puff">
			<p:messages id="messages" showDetail="true" closable="true" />

			<p:inputText value="#{statsBean.newPLayerName}" id="newPlayerName" maxlength="12"
				placeholder="#{labels['stats.playerName']}" 
				style="width:96%;text-align: center; margin-top:1%; margin-bottom:4%">
			</p:inputText>

			<p:commandButton onclick="PF('dlg').hide()"
				value="#{labels['generic.btn.cancel']}" />
			<p:commandButton actionListener="#{statsBean.addNewPlayer}"
				id="validateNewPlayer" type="submit"
				value="#{labels['generic.btn.validate']}" style="margin-left:2%"
				oncomplete="handleRequest(xhr, status, args)"
				update="statsList, messages, newPlayerName" />
			<p:defaultCommand target="validateNewPlayer" />
		</p:dialog>
	</h:form>

	<script type="text/javascript">
		function handleRequest(xhr, status, args) {
			if (args.validationFailed || !args.playerNameValid) {
				PF('dlg').jq.effect("shake", {
					times : 5
				}, 100);
			} else {
				PF('dlg').hide();
				$('#loginLink').fadeOut();
			}
		}
	</script>

</h:body>
</html>