<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">

<h:head>
	<f:facet name="first">
		<meta name="viewport" content="initial-scale=1.0, user-scalable=yes" />
	</f:facet>
	<title>#{labels['teamManagement.page.title']}</title>
	<link type="text/css" rel="stylesheet" href="/static/style.css" />
</h:head>

<h:body>
	<p:layout fullPage="true" style="background-color:#FFFFFF;">
		<p:layoutUnit position="north" size="110" id="north" resizable="false">
			<ui:include src="templates/header.xhtml" />
		</p:layoutUnit>

		<p:layoutUnit position="west" id="west" resizable="false" size="250">
			<ui:include src="templates/menu.xhtml" />
		</p:layoutUnit>

		<p:layoutUnit styleClass="layoutUnitCenter" position="center"
			style="padding: 0.4% 2%;" rendered="#{loginBean.isLogged}">
			<h:form id="form" prependId="false">

				<p:growl id="msgs" showDetail="true" />

				<h2 style="padding-left: 2%; display: inline-block;">#{labels['teamManagement.title']}</h2>

				<h:selectOneMenu id="selectSeason"
					value="#{teamManagementBean.selectedSeason}"
					style="float:right; margin-top:10px !important">
					<f:selectItems value="#{teamManagementBean.seasons}" var="season"
						itemLabel="#{season}" itemValue="#{season}" />

					<p:ajax update="teamList" onsuccess="PF('statusDialog').hide()"
						onstart="PF('statusDialog').show();"
						listener="#{teamManagementBean.loadTeams}" process="@this" />
				</h:selectOneMenu>
				<h:outputLabel
					style="float:right;margin-right:5px; margin-top:10px !important">#{labels['generic.season']}</h:outputLabel>

				<p>
					<i>#{labels['teamManagement.content']} </i>
				</p>
				<br />
				<p:dataTable var="team" value="#{teamManagementBean.teamList}"
					id="teamList" rowKey="#{team.id}" editable="true" editMode="cell"
					rowSelectMode="checkbox" tabindex="index"
					selection="#{teamManagementBean.checkedTeamList}"
					styleClass="align-center">

					<p:ajax event="toggleSelect"
						listener="#{teamManagementBean.onToggleSelect}" update="panelBtn" />
					<p:ajax event="rowSelectCheckbox"
						listener="#{teamManagementBean.onRowSelect}" update="panelBtn" />
					<p:ajax event="rowUnselectCheckbox"
						listener="#{teamManagementBean.onRowUnselect}" update="panelBtn" />

					<p:columnGroup type="header">

						<p:row>
							<p:column selectionMode="multiple"
								style="width:16px;text-align:center" />
							<p:column
								headerText="#{labels['teamManagement.headers.category']}"
								style="width:140px;" />
							<p:column headerText="#{labels['teamManagement.headers.team']}"
								style="width:90px;" />
							<p:column
								headerText="#{labels['teamManagement.headers.urlCalendar']}" />
							<p:column
								headerText="#{labels['teamManagement.headers.urlRank']}" />
						</p:row>
					</p:columnGroup>

					<p:column selectionMode="multiple"
						style="width:16px;text-align:center" />
					<p:column>
						<p:cellEditor>
							<f:facet name="output">
								<h:outputText value="#{team.decodedCategory}" />
							</f:facet>
							<f:facet name="input">
								<h:selectOneMenu value="#{team.category}"
									style="width:100%; text-align: center;">
									<f:selectItems value="#{teamManagementBean.categories}" />
								</h:selectOneMenu>
							</f:facet>
						</p:cellEditor>
					</p:column>
					<p:column>
						<p:cellEditor>
							<f:facet name="output">
								<h:outputText value="#{team.teamName}" />
							</f:facet>
							<f:facet name="input">
								<h:selectOneMenu value="#{team.teamName}"
									style="width:100%; text-align: center;">
									<f:selectItems value="#{teamManagementBean.teamNames}"
										var="teamName" itemLabel="#{teamName}" itemValue="#{teamName}" />
								</h:selectOneMenu>
							</f:facet>
						</p:cellEditor>
					</p:column>
					<p:column>
						<p:cellEditor>
							<f:facet name="output">
								<h:outputText value="#{team.urlCalendar}" styleClass="smallFont" />
							</f:facet>
							<f:facet name="input">
								<h:inputText value="#{team.urlCalendar}"
									style="font-size: small;width:90%;" />
							</f:facet>
						</p:cellEditor>
					</p:column>
					<p:column>
						<p:cellEditor>
							<f:facet name="output">
								<h:outputText value="#{team.urlRank}" styleClass="smallFont" />
							</f:facet>
							<f:facet name="input">
								<h:inputText value="#{team.urlRank}"
									style="font-size: small;width:90%;" />
							</f:facet>
						</p:cellEditor>
					</p:column>
				</p:dataTable>

				<br />
				<p:panel id="panelBtn" style="border: none; margin:0px; padding:0px">
					<p:commandButton title="#{labels['teamManagement.button.newTeam']}"
						actionListener="#{teamManagementBean.addTeam}"
						rendered="#{loginBean.isLogged}" icon="fa fa-fw fa-user-plus"
						update="@form"
						style="margin-top:0.8%;margin-bottom:0.8%;margin-right: 0.8%;" />

					<p:commandButton id="btnDel"
						title="#{labels['teamManagement.button.deleteTeam']}"
						icon="fa fa-fw fa-user-times"
						rendered="#{loginBean.isLogged and (teamManagementBean.numberOfRowSelected>0)}"
						actionListener="#{teamManagementBean.deleteSelected}"
						update="teamList" style="margin-top:0.5%;">
						<p:confirm header="#{labels['teamManagement.confirm.title']}"
							message="#{labels['teamManagement.confirm.content']}"
							icon="ui-icon-alert" />
					</p:commandButton>
				</p:panel>
				<br />

				<p:commandButton value="#{labels['teamManagement.btn.save']}"
					icon="ui-icon-check" update="@form"
					actionListener="#{teamManagementBean.saveTeams}" type="submit"
					process="@form" style="margin-top:0.8%;margin-bottom:0.8%;" />
			</h:form>

			<h:form rendered="#{loginBean.isLogged}">
				<p:confirmDialog closeOnEscape="true" global="true"
					widgetVar="confirmDel" appendToBody="false" showEffect="fade"
					hideEffect="puff">
					<p:commandButton value="#{labels['generic.btn.no']}" type="button"
						styleClass="ui-confirmdialog-no" icon="ui-icon-close" />
					<p:commandButton value="#{labels['generic.btn.yes']}" type="button"
						styleClass="ui-confirmdialog-yes" icon="ui-icon-check" />

				</p:confirmDialog>
			</h:form>

			<p:dialog widgetVar="statusDialog" modal="true" draggable="false"
				closable="false" resizable="false" showHeader="false">
				<img src="/static/loading.gif" alt="Logo" class="loadingDialog" />
				<p:outputLabel value="#{labels['stats.message.processing']}"></p:outputLabel>
			</p:dialog>
		</p:layoutUnit>

		<p:layoutUnit styleClass="layoutUnitCenter" position="center"
			rendered="#{!loginBean.isLogged}" style="padding: 0.4% 2%;">
			<h:outputText value="#{labels['generic.error.403']}" />
		</p:layoutUnit>

	</p:layout>

</h:body>
</html>