html {
	background-color: #c9cacd;
}

body {
	max-width: 1500px;
	margin: auto !important;
	background-color: #f6f6f6;
}

p {
	font-size: 0.9em;
}

h2 {
	font-size: 1.4em;
}

.hide-column-names table thead tr {
	display: none;
}

.align-center table tr {
	text-align: center;
}

.align-center table td:nth-child {
	text-align: left;
}

.ui-layout-north {
	overflow-y: hidden !important;
	background-color: transparent;
	padding: 0;
	height: 97px !important;
}

.ui-layout-north .ui-layout-unit-content {
	overflow-y: hidden !important;
	padding: 0;
}

.ui-layout-pane-west {
	width: 215px !important;
}

.headerForm {
	text-align: right;
	height: 85px;
	vertical-align: middle;
	display: table-cell;
}

.toolbarGroupHeader {
	max-width: 35%;
	display: table;
}

.menuMobile {
	display: none;
}

.headerIcon {
	width: 70px;
	height: 70px;
}

.headerTitle {
	margin-left: 7%;
}

.liveListButtons{
	float: right;
}

.livePanel{
	margin-bottom:20px; 
	margin-right: 10px; 
	padding: 1em;
}

@media ( max-width : 1024px) {
	/* CSS applique aux petits ecrans */
	#west {
		display: none !important;
	}
	.headerForm {
		display: none;
	}
	.headerIcon {
		margin-top: 0.4em;
		height: 60px;
		width: 60px;
	}
	.headerTitle {
		margin-left: 0.7em;
	}
	.menuMobile {
		display: inline;
		text-align: right;
		height: 2em;
		margin-top: 0.5em !important;
	}
	.ui-menu{
		overflow-y: scroll;
	}
	.ui-menu .ui-menuitem-link {
		width: auto !important;
	}
	.layoutUnitCenter {
		left: 0 !important;
		width: auto !important;
		margin: 5px !important;
	}
	.ui-layout-north {
		height: 5em !important;
	}
	.ui-layout-north h1 {
		margin-top: 1em;
		font-size: 1.2em;
		padding: 0;
	}
	.toolbarGroupHeader {
		max-width: 35%;
		display: inline;
	}
	.ui-datalist-data {
		padding-left: 0 !important;
	}
	.live-score {
		font-size: 30px !important;
	}
	.live-team-score {
		font-size: 20px !important;
		width: 35% !important;
	}
	
	.liveListButtons{
		display: block;
		margin-top: 0.5em;
		float:none;
	}
	
	.livePanel{	
		margin-right: 0px; 
		text-align: center;	
	}
	
	.mobileCentered{
		text-align: center;	
	}
}
/* Used for classement got from fff website */
table.classement {
	overflow: hidden;
	width: 55%;
	min-width: 500px;
	border-collapse: collapse;
}

table.classement th, table.classement td {
	color: #575757;
	padding: 10px 3px;
	width: 8%;
}

table.classement th {
	color: #1d5f8d;
	font-size: 13px;
	text-align: center;
}

table.classement td:first-child, table.classement th:first-child {
	text-align: right;
	width: 5%;
}

table.classement td {
	font-size: 13px;
	text-align: center;
}

table.classement  tr td:first-child+td, table.classement tr th:first-child+th
	{
	text-align: left;
	width: 16%;
}

table.classement td.blackBold {
	font-weight: bold;
	color: #242c49;
}

table.classement td.blackLight {
	color: #414141;
}

table.classement td.gris {
	color: #414141;
}

table.classement tr.odd, table.classement tr.odd  td {
	background: #e7e7e6;
}

li.ui-datalist-item {
	list-style-type: none;
	min-width: 470px;
}

li.item {
	min-width: 470px;
	width: 40%;
	list-style-type: none;
}

.box_tabs li.item .toshow {
	padding-left: 0;
}

.list_links .sub_tilte {
	color: black;
	text-transform: uppercase;
	margin-bottom: 5px;
	font-size: 14px;
	display: block;
}

.list_calendar  .sct_rst {
	background: none;
}

.list_calendar {
	height: auto
}

.list_calendar .sct_rst {
	border-top: 1px solid #CAC7C4;
}

.cnt .list_calendar .sct_rst {
	border-top: 0 none;
	border-bottom: 1px solid #CAC7C4;
}

.list_links .list_calendar .sct_rst.last {
	margin-bottom: 0;
}

.list_calendar li.last {
	border-bottom: 1px solid #CAC7C4;
}

.list_links .list_calendar .sct_rst {
	min-height: 0;
	overflow: hidden;
}

.sct_rst h4 {
	color: #515455;
	font-size: 13px;
	margin-bottom: 10px;
}

.sct_rst p {
	color: #1d5f8d;
	font-size: 14px;
	display: block;
	line-height: 13px;
	overflow: hidden;
}

.sct_rst p .p_generale {
	color: #1D5F8D;
	font-size: 13px;
	line-height: 15px;
	padding: 0;
	text-align: left;
	display: block;
	margin: 0;
	text-align: center;
}

.sct_rst p .score {
	color: #1d5f8d;
	font-size: 22px;
	line-height: 19px;
	font-weight: bold;
	float: left;
	width: 12%;
	text-align: center;
}

img.number {
    height: 17px;
    top: 2px;
    position: relative;
}

.sct_rst p .eqName {
	float: left;
	margin: 0;
	padding: 4px 1% 0 0;
	text-align: right;
	width: 43%;
}

.sct_rst p .eqright {
	float: right;
	padding: 4px 0 0 1%;
	text-align: left;
}

.sct_rst p a span.score {
	font-size: 16px;
	white-space: nowrap;
	width: auto;
}

.sct_rst p a span {
	min-width: 100px;
	display: inline-block;
}

div.score {
	float: left;
	width: 100px;
	color: #1D5F8D;
	font-weight: bold;
	font-size: 17px;
}

div.penalty span.score {
	margin-right: 11px;
}

/* change menu background */
.ui-menubar, .ui-menu-child, .ui-menu {
	background: #f4f3f3 !important;
}

.ui-panel .ui-panel-footer {
	text-align: right;
	font-size: 11px;
}

.ui-panel .ui-panel-content {
	padding: 0em;
}

.ui-widget-content .ui-datalist-content {
	border: none;
	background: transparent;
	background-image: none;
}

.ui-datalist-data {
	padding-left: 10px;
}

#footer {
	margin-top: 30px;
	text-align: center;
	position: relative;
	clear: both;
	height: 30px;
	font-size: 11px;
	width: 100%;
}

.live-title {
	font-size: 19px;
	color: #6d6d6d;
	text-transform: uppercase;
	display: block;
}

.live-date {
	font-size: 12px;
	margin-bottom: 10px;
	width: 100%;
	padding-bottom: 3px;
	display: block;
	color: #8f8e8d;
	border-bottom: 3px solid red;
}

.live-score {
	font-size: 40px;
	font-weight: bold;
	display: inline-block;
	color: white;
}

.live-score-list {
	font-size: 22px;
	font-weight: bold;
	display: inline-block;
}

.live-link {
	margin-top: 20px;
	width: 100%;
}

.live-link:hover {
	background: #eeeeed;
}

.live-team-score {
	font-size: 30px;
	font-weight: bold;
	width: 40%;
	text-transform: uppercase;
	color: white;
}

.live-team-buteurs {
	font-size: 15px;
	color: white;
	font-weight: normal;
	text-transform: initial;
	text-shadow: 2px 2px 1px black;
}

.score-panel.ui-panel .ui-panel-titlebar {
	font-size: 15px;
}

.container {
	background-image: url('/static/live_background.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: 50% 50%;
	padding: 10px;
}

.live-comment {
	font-size: 16px;
}

.live-comment-bold {
	font-size: 16px;
	font-weight: bold;
}

.soccer_field {
	background-image: url('/static/terrain.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: 100% 100%;
	padding-left: 1.5%;
	padding-right: 1.5%;
	padding-bottom: 1.8%;
	padding-top: 1.8%;
	margin-bottom: 1.8%;
}

.soccer_field .ui-datagrid-column {
	width: 20%;
	padding: 0px;
}

.ui-datagrid-content {
	border: none;
	background: transparent;
	background-image: none;
}

tr.hiddenRow {
	display: none;
}

.smallFont {
	font-size: small;
}

.panel-formation {
	padding: 10px;
	margin: 8px;
}

.formationItem {
	border: none;
	width: 100%;
	height: 100%;
	background: transparent;
	margin-top: 4%;
	padding-top: 2%;
	padding-bottom: 2%;
	display: block;
}

.numItem {
	display: block;
	font-size: 4vw;
	font-weight: bold;
	color: white;
	/* 	text-shadow: 0.7vw 0.7vw 1vw black; */
	padding-top: 12%;
	padding-bottom: 14%;
	margin-left: 20%;
	margin-right: 20%;
	background-image: url('/static/maillot.png');
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
}

.playerName {
	width: auto;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	font-size: 3.5vw;
	color: white;
	text-shadow: 0.7rem 0.7rem 1rem black;
	display: block;
}

.panelFormation {
	padding: 0em;
	opacity: 1;
	border: none;
	background: transparent;
	text-align: center;
}

.hiddenBorder {
	border: none;
}

.ui-messages-error, .ui-message-error {
	font-size: 16px !important;
}

.miClubMenu {
	background-color: #FFFFFF !important;
	border: none;
	font-size: 0.95em !important;
}

.ui-menu {
	width: auto !important;
}

.ui-menu .ui-menuitem-text {
	margin-left: 5px;
}

.ui-tabs .ui-tabs-nav li a {
	font-size: 0.9em;
	padding: 0.3em 0.7em;
}

.ui-autocomplete-panel .ui-autocomplete-list-item {
	min-height: 18px;
}

.imgNews {
	width: 225px;
	object-fit: contain;
}

.linkNewsReadMore {
	font-size: 16px !important;
	font-weight: 700;
	display: block;
	margin-top: 5px;
}

.btn-fb-share {
	margin-right: 10px;
	border: 0;
	cursor: pointer;
	display: inline;
	/* 	width: 72; */
	/* 	height:21; */
	/* 	background-image:url(/static/facebook-partage.png); */
}

.loadingDialog {
	width: 30px;
	height: 30px;
	margin-right: 15px;
}


.separator td{
	padding-top:3px;
	padding-bottom:0px;
    background-color: rgb(225,225,225);
}
