td {
	border: 1px solid black;
	padding: 1%;
	width: 50%;
	text-align: center;
}

img {
	max-width: 100%;
	height: auto;
}

table {
	border-spacing: 1em;
	table-layout: fixed;
    	width: 100%;
}

@media ( max-width : 1024px) {
	table {
		border-spacing: 0.5em;
	}
}