
.newsItem{
	margin-bottom:20px; 
	margin-right: 10px;
}


.addNewsBtn {
	float: right;
	margin-top: 2% !important;
	margin-right: 2%;
	font-size: 90% !important;
}

.newsTitle {
	padding-left: 2%;
	display: inline-block;
}

@media ( max-width : 1024px) {
	/* CSS applique aux petits ecrans */
	table, thead, tbody, th, td, tr {
		display: block;
		text-align: center;
	}
	.ui-datalist-item {
		margin-bottom: 1em !important;
	}
	.addNewsBtn {
		margin-top: 4% !important;
		font-size: 80% !important;
	}
	.newsTitle {
		margin-bottom: 0.1em;
	}
	
	.imgNews{
		width:90% !important;
	}
}